@import '../variables.scss';

.home-page__content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 40px;
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.buttons {
  margin-top: 50px;
  display: flex;
  gap: 10px; 
}

.button {
  font-size: 1.5vw;
  padding: 15px 20px;
  width: 35%;
  height: 9%;
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: auto;
  text-align: center;

  &:hover {
    transform: scale(1.05);
    background-color: $button-hover-color;
  }
}

.titulo {
  color: $button-hover-color;
  font-size: 2.3vw;
  width: 90%;
}
.texto{
  margin-top: 40px;
  font-size: 1.55vw;
  width: 90%;
}

.box {
  background-color: rgba(255, 255, 255, 0.8); // Fondo blanco con opacidad
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Sombra para destacar el texto
  padding: 20px; // Espaciado interno
  border-radius: 10px; // Bordes redondeados
  max-width: 45%; // Limita el ancho del contenedor
}

