@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import './login-page/index.scss';
@import './signup-page/index.scss';
@import './home-page/index.scss';
@import './nav-bar/index.scss';
@import './layout/index.scss';

html, body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
}