$primary-color: #87CEEB; // Azul claro
$secondary-color: #E0F7FA; // Azul muy claro, casi blanco
$text-color: #333333; // Color del texto (oscuro para buen contraste)
$button-hover-color: #5DADE2; // Color al pasar el mouse
