.contenedor {
  background-color: #edfbff;
  display: grid;
  grid-template-columns: 66% 33%; /* Gráfico: 66%, Lado derecho: 33% */
  grid-template-rows: 10% 90%;
  width: 100%;
  height: 100vh; /* Para ocupar toda la altura de la ventana */
  position: relative;
}

.grafico {
  margin-right: 30px;
  grid-column: 1; /* Primera columna */
  grid-row: 1 / span 2; /* Ocupa ambas filas */
  // background-color: #d1e7dd; /* Fondo para visualizar */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 25px;
  background-color: #ffffff;
}

.lado-derecho {
  display: grid;
  grid-template-rows: 0.1fr 0.1fr; /* Divide el lado derecho en dos filas iguales */
  grid-column: 2; /* Segunda columna */
}

.ejemplo {
  // background-color: #f8d7da; /* Fondo para visualizar */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.titulo_grafico {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-top: auto;
}

.parrafo {

  display: grid;
  justify-content: center;
  align-items: center;
  height: 80%;
  padding: 0;
  margin-top: -40px;
}

.parrafo1 {

  display: grid;
  justify-content: center;
  align-items: center;
  height: 80%;
  padding: 0;
  margin-top: 40px;
}

.dropdown {
  position: absolute;
  top: 20px; // Ajusta según la altura de la navbar
  left: 50px; // Espaciado desde el borde derecho
  z-index: 1000; // Asegúrate de que esté sobre otros elementos
  background-color: $primary-color; // Fondo blanco
  transform: scale(1.2);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Sombra para destacar el dropdown

  label {
    font-size: 14px;
    margin-right: 10px; // Espaciado entre el label y el dropdown
    color: #333;
  }

  select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
  }

  select:focus {
    outline: none;
    border-color: #5dadcc; // Cambia el color al seleccionar
  }
}