.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #5dadcc;
  color: white;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    overflow: hidden; 
    background-color: #fff;
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 10%; 
  }
  &__image:hover {
    background-color: #2d8bb0; 
  }

  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
  }
}
