.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #5dadcc;
  color: white;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    overflow: hidden; 
    background-color: #fff;
  }

  &__title {
    flex: 1;
    text-align: center;
    color: white;

    h1 {
      margin: 0;
      font-size: 2.5rem;
      font-weight: bold;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    height: 70px;
    overflow: hidden;
    border-radius: 5px; 
    background-color: #E0F7FA;


    &:hover {
      background-color: #2d8bb0; 
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
  }
  .flecha {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
    transform: rotate(180deg);
    filter: invert(1);
  }
  .textoflecha {
    text-align: center;
    width: 220px;
    color: #333333;
  }
  .link{
    text-decoration: none;
  }
}
